@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&display=swap');


body {
    background: #31363B;
    background: url("imgs/bg.jpg");
    margin: 0;
    padding: 0px;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 20px;
    color: #87c095;   
    height: 100%;
}

.menu {
    background: #3A3F43;
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
}

.editor-area {
    color: #bfddb2;
    flex: 2;
    padding-left: 8px;
}

.tree {
    border-right: 1px solid #474F54;
    color: #87c095;
    flex: 0 1 300px;
}

.statusbar {
    background: #3F464B;
    padding-left: 4px;
    padding-right: 4px;
}

.item {
    flex: 1;
}

.item-big {
    flex: 2;
}

.menu-middle {
    text-align: center;
}

.menu-right {
    text-align: right;
}

.padd {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.flex-container {
    color: #ffffff;
    display: flex;
}

.mid-border {
    padding: 8px;
    border: 2px solid #767b82;
    margin-bottom: 8px;
}

.mode {
    background-color: #87c095;
    color: #2A2F33;
    font-weight: bolder;
}

li {
    color: #bfddb2;
    list-style: none;
    padding-left: 32px;
    margin-left: 32px;
}

li:hover {
    background-color: #3F464B;
    cursor: pointer;
}

.icon {
    max-width: 100%;
    height: auto;
    background: url("imgs/icon.png") no-repeat left top;
}

.icon-python {
    max-width: 100%;
    height: auto;
    background: url("imgs/icon-python.png") no-repeat left top;
}

.icon-js {
    max-width: 100%;
    height: auto;
    background: url("imgs/icon-javascript.png") no-repeat left top;
}

.menu-icon {
    padding-left: 4px;
    max-width: 18px;
    height: auto;
}

.menu-icon:hover {
    filter: invert(50%);
}

.indent-two {
    padding-left: 84px;
}

.indent {
    padding-left: 42px;
}

.line-number{
    color: #767b82;
    padding-left: 4px;
}

.background-color {
    background: rgb(49, 54, 59, 0.9);
}

.selected-line {
    background-color: #3A3F43;
}

button {
    background-color: #2A2F33;
    border: 1px solid #87c095;
    font-family: 'Gemunu Libre', sans-serif;
    padding: 0px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    color: #bfddb2;
}

button:hover {
    background-color: #31363B;
}

input {
    background-color: #31363B;
    border: 1px solid #87c095;
    color: #87c095;   
    border-radius: 0px;
}

tr table thead td {
    border: 1px solid #87c095;
}

.clickable:hover {
    background-color: #3F464B;
    cursor: pointer;
}

a {
    text-decoration: underline;
    color: #bfddb2;
}

.info {
    border-left: 1px solid #474F54;
    min-width: 200px;
    padding-left: 8px;
    height: 100%;
    color: #bfddb2;
}

.selectable:hover {
    background-color: #3A3F43;
    cursor: pointer;
}

input type[type=radio] {
    background-color: #2A2F33;
    border: 1px solid #87c095;
}
